body {
  font-family: Helvetica, Arial, sans-serif; color:#333;
}

/* LOADING */
.wf-loading body {
  visibility: hidden;
}

.wf-active body {
  font-weight: normal;
  font-style: normal;
  font-family: 'BetecknaLowerCaseBold', Helvetica, Arial, Verdana, sans-serif;
  visibility: visible;
}

.wf-active strong {
  font-family: 'BetecknaLowerCaseMedium', Helvetica, Arial, Verdana, sans-serif;
}

.wf-active em {
  font-family: 'BetecknaLowerCaseItalic', Helvetica, Arial, Verdana, sans-serif;
}
