/* This file will hold styles for the mobile version of your website (mobile first). */

.responsive-layout-mobile {
	font-size: 80%
}

.responsive-layout-mobile .zone-preface {
	text-align: center
}

.responsive-layout-mobile .region-preface-first,
.responsive-layout-mobile .region-preface-second {
	background-repeat: no-repeat;
	background-image: none;
	background-color: #1e2432; /* night */

}

.responsive-layout-mobile.logged-in .logo-img {
  margin-top: 20px;
}

.responsive-layout-mobile.logged-in .site-name-slogan {
	float: left;
	margin-top: 70px;
	margin-left: -195px;
}

.responsive-layout-mobile ul#secondary-menu {
/*
	float: right;
	margin-top: 5px;
*/
}

.responsive-layout-mobile.fullmoon #moonspace {
	visibility: hidden;
}
