/*
 *  Nashville Skyline Fonts
 * 
 *    Nashville Skyline uses Google Fonts (and the google_fonts module).
 *    Find out more at http://www.google.com/webfonts#HomePlace:home
 * 
*/

/* 
 *  BODY & PRIMARY FONT RESETS
*/


body {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	line-height: normal;

	font-weight: 300;
	letter-spacing: normal;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
/*  font-family:  Arial, Helvetica, sans-serif; */  /* Been there, done that. */
/*  font-family: 'Bevan',serif; */
/*  font-family: 'Delius', cursive; */
/*  font-family: 'Fontdiner Swanky'; */  /* Goofy, but I like it */
/*  font-family: 'Luckiest Guy'; */  /* Nice, but heavy */
/* 	font-family: 'Changa One', sans-serif; */ /*  Also heavy */
/* 	font-family: 'Paytone One', sans-serif; */  /* Somewhat heavy, but nice */
/* 	font-family: 'Maiden Orange', serif; */  /* Don't really like this one */
/* 	font-family: 'Hammersmith One', sans-serif; */  /* Ok, but not real different than the usual stuff */
/* 	font-family: 'Sigmar One', sans-serif; */ /* Another heavy one. */
/*  font-family: 'Aclonica', sans-serif; */  /* Possible alternative to Cherry Cream, but a little fancy for Nashville */
/* 	font-family: 'Nunito', sans-serif; */
	font-family: 'Cherry Cream Soda', cursive;  /* My favorite of this batch */
	font-weight: normal;
  letter-spacing: -0.04em;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
h1.site-title,
h2.site-title {
  font-size: 26px;
  text-shadow: 5px 5px #111111;
}

h1.site-name, h2.site-name {
	font-size: 20px;
	font-family:  Arial, Helvetica, sans-serif;  /* Been there, done that. */
	font-weight: 800;
	letter-spacing: -0.08em;

}


/* Make it a bit smaller for block headers */
h2.block-title {
  font-size: 16px;
}

h2.node-title {
	font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

dt, .admin h3 {
  font-size: 18px;
}

dd {
  font-size: 0.9em;
  font-style: italic;
}

/*   block quotes   */

blockquote {
	font-style: italic;
}

blockquote:before, blockquote:after {
	font-family: 'Cherry Cream Soda', cursive;
}

/* 
 *  PAGE & SECTIONS
*/

/* Page */

#page {
	font: 14px/1.5 'Nunito', sans-serif;
	font-weight: 300;
	letter-spacing: normal;
}

/*
.nash-sky-day #page {
	font-weight: 400;
}
*/


/* Header Section */

.site-slogan {
  font-weight: normal;
}

.site-name a {
  text-decoration: none;
}

.block-region {
  color: black;
}

/* Navigation */

ul#main-menu,
.zone-menu ul.menu {
	font-size: 16px;
	text-decoration: none;
}

ul#secondary-menu {
	font-size: 12px;
	text-decoration: none;
	line-height: 16px;

}


ul#main-menu {
}

ul#main-menu li a,
.zone-menu ul.menu li a {
  font-weight: bold;
  text-decoration: none;
/*   font-size: 80%; */ 
}

ul#main-menu li.last a,
.zone-menu ul.menu li.last a {
/*   font-size: 80%; */ 
}

ul#secondary-menu li a {
	text-decoration: none;
}

/* CONTENT */
/** node meta & taxonomy term links **/

.meta,
.meta-after,
.field-name-field-site-geist .field-items {
  font-style: italic;
  font-size: 90%;
}

.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em;
}
.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em;
}

.extra-links {
  font-size: 90%;
}

span.button .form-submit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
}

.read-more a {
  font-size: 80%;
}

.read-more a:hover {
  text-decoration: none;
}

/* Tables */

.views-table caption {
	text-align: left;
	font-size: 130%;
}

/* specific block styles */

.block a:link, .block a:visited,
.navigation a:link, .navigation a:visited   {
	text-shadow: 2px 2px 2px #333333;
}

.nash-sky-day .block-main .content .content a:link, .nash-sky-day .block-main .content .content a:visited {
  text-decoration: none;
  text-shadow: 0px 0px 0px #333333;
  font-weight: 300;
}

.copyright-message {
	font-size: xx-small;
}

/* specific Views styles */

.member-content-index-date,
.member-content-index-type {
	font-size: 80%;
}

/* specific Field styles */

.field-name-field-subtitle {
	font-size: 110%;
	font-weight: bold;
}

.field-name-field-lede {
	font-style: italic;
}

fieldset {
}

.group-more-info .fieldset-legend {
}