/*
 * Main Layout Styles for Nashville Skyline
 * 
 * All font related styles moved to nash_sky_fonts.css
 *
 * Color related style is contained in sun_moon_color.css
*/

/* 
 *  BODY & PRIMARY RESETS
*/

body {
}

a:link, a:visited {
}

a:hover {
}

a:active {
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
}

h2 {
}

/* Make it a bit smaller for block headers */
h2.block-title {	
	margin-bottom: 8px;	
}

/* Primary list styles */

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ul ul,
ol ol {
  padding-top: 0.5em;
}

.node ol,
.node ul {
  padding-left: 1.2em;
}

.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

dt, .admin h3 {
  margin: 0;
}

dd {
  padding-left: 10px;
  margin-bottom: 20px;
}

/*   block quotes   */

blockquote {
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 0;
	margin-bottom: 30px;
	display: block;
	border-radius: 4px;
/* 	width: 250px; */
}

blockquote:before, blockquote:after {
	display: block;
	font-size: 400%;
	width: 500px;
}

blockquote:before {
	content: '\201C';
	height: 25px;
	margin-left: -0.75em;
}

blockquote:after {
	content: '\201D';
	height: 50px;
	margin-top: -60px;
	margin-left: 488px;
}

/* 
 *  PAGE & SECTIONS
*/

/* Page */

#page {
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  width: 100%;
  z-index: 0;
}

/* Header Section */

#section-header {
	background-repeat: no-repeat;
	min-height: 204px;
	margin-left: auto;
	margin-right: auto;
}

#zone-user-wrapper {
/* 	padding-top: 25 px; */
}

/*
.region-moonspace-inner {
	clear: both;
	min-height: 110px;
  background-image: url(../images/nash-sky-full-moon2.png);

}
*/

#moonspace {
/*
	left: 460px;
	top: -50px;
*/
	left: 0px;
	top: 0px;
	clear: none;
	position: absolute;
	background-color: transparent;
	min-width: 110px;
	min-height: 110px;
	margin-left: 375px;
	margin-top: -30px;
	z-index: 2;
}

#moonspace img {
	opacity:0.7;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.block .moonspace {
	background-repeat: no-repeat;
	left: 0px;
	top: 0px;
	clear: none;
	position: absolute;
	background-color: transparent;
	background-image: url(../images/nash-sky-full-moon2.png);

	min-width: 110px;
	min-height: 110px;
	margin-left: -18px;
	margin-top: -35px;
	z-index: 2;
}

.moonspace .block {
	background-repeat: no-repeat;
	left: 0px;
	top: 0px;
	clear: none;
	position: absolute;
	background-color: transparent;
	background-image: url(../images/nash-sky-full-moon2.png);

	min-width: 110px;
	min-height: 110px;
	margin-left: -18px;
	margin-top: -35px;
	z-index: 2;
}

.fullmoon #moonspace,
.fullmoon .moonspace {
/* 	background-image: url(../images/nash-sky-full-moon2.png); */
/*
	margin-left: 560px;
	margin-top: -40px;
*/
}

.responsive-layout-mobile #moonspace {
	visibility: hidden;
}

#zone-preface {
/* 	margin-bottom: 20px; */
}

.logo-img {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 30px;

}

.site-name-slogan {
	float: left;
	margin-top: 100px;
	margin-left: -195px;
}

.site-name {
  margin-top: 20px;
}

.site-name a {
}

.site-name,
.site-slogan {
  margin-bottom: 0;
  line-height: 1em;
}

.site-slogan {
}

#region-user-first {
	min-height: 45px;
	padding-top: 10px;
}

#region-user-second {
	min-height: 45px;
	padding-top: 10px;
}

#region-user-search {
	min-height: 45px;
	padding-top: 10px;
}

#zone-user h2 {
/* display: none; */
}

.block-region {
}

.block-system ul.menu li {
	margin: 0 0 0 1.5em;
}

/* Navigation */

#zone-menu {
}

#navigation {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
/* 	height: 45px; */
}

#navigation h2 {
	display: none;
}

.navigation-user {
	display: inline;
}

ul#main-menu,
.zone-menu ul.menu {
}


ul#main-menu {
}

ul#main-menu li a,
.zone-menu ul.menu li a {
  height: 45px;
  padding-right: 14px;
  border-right: 1px solid;
}

ul#main-menu li.last a,
.zone-menu ul.menu li.last a {
  padding-right: 0px;
  border-right: 0px solid;
}

ul.inline.main-menu li {
	display: inline;
	list-style-type: none;
	padding: 0 0.2em;
}

ul#secondary-menu {
/* 	float: right; */
/* 	margin-left: 250px; */
}

ul#secondary-menu li a {
/* 	padding-right: 10px; */
	height: 25px;
}

ul#secondary-menu a:hover {
}

ul.inline, ul.links.inline,
#block-menu-menu-member-content-menu ul.menu li {
	clear: both;
	display: inline;
	padding-left: 0;
}

#main-menu li a.active {
 }

#section-content {
	min-height: 550px;
}

.breadcrumb {
	margin-top: 10px;
}

/*
.responsive-layout-narrow #region-sidebar-first,
.responsive-layout-normal #region-sidebar-first,
.responsive-layout-wide #region-sidebar-first {
	margin-top: -185px;
	margin-bottom: 75px;
	padding-top: 25px;
}
*/

.responsive-layout-narrow  .region-sidebar-first,
.responsive-layout-normal .region-sidebar-first,
.responsive-layout-wide .region-sidebar-first {
/* 	margin-top: -265px; */
/* 	margin-top: -185px; */
	margin-bottom: 75px;
	padding-top: 25px;
}


.block-inner {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 5px;
/*   padding-bottom: 15px; */
  margin-bottom: 20px;
}

.block-nashville-simple-login .block-inner {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 5px;
  margin-bottom: 0px;
}



/* --------------- Search Form ---------------- */

.block-search .block-inner,
.block-block-6 .block-inner {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 5px;
  margin-bottom: 0px;
}

#block-search-form {
  margin-right: 0px;
  padding-bottom: 7px;
}

#block-search-form .content {
  margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; /* LTR */
  margin-right: 5px;
  width: 128px;
	font-weight: bold;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}
/* ------------- */

#section-footer{
	background-color: black;
	min-height: 145px;
	padding: 20px;
}

.block-main {
/* 	margin-top: 25px; */
}

/** node **/
.node-inner {
  position: relative;
}

.node-teaser {
  padding: 10px 0;
}

.node-teaser h2 {
  font-size: 200%;
}

.node-teaser.node-first {
  padding-top: 0;
}

.node,
.node-sticky {
	margin-bottom: 25px;
	padding: 10px;
}

.node .node-inner,
.node-sticky .node-inner {
	padding: 10px;
}

.node .field-name-field-image img {
  float: left;
  padding: 5px;
  margin: 0 20px 10px 0;
}

.node-article.node-full img,
.node-article.node-teaser img,
.node-blog.node-full img,
.node-blog.node-teaser img,
.node-event.node-full img,
.node-event.node-teaser img{
	float:right;
  margin-left: 10px;
  margin-bottom: 10px;
}

/** node meta & taxonomy term links **/

.meta,
.meta-after,
.field-name-field-site-geist .field-items {
  margin-bottom: 15px;
}

.meta-after {
  margin-top: 15px;
}

.meta .user-picture {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#comments .user-picture {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}


.field-type-taxonomy-term-reference {
/*   margin: 0 0 1.2em; */
  display: inline;

}
.field-type-taxonomy-term-reference .field-label {
  margin: 0;
  padding-right: 5px; /* LTR */
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
}
.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
}
.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}

.extra-links {
  min-height: 21px;
  padding-top: 5px;
}

.extra-links ul.links {
  padding: 0 10px;
}

.extra-links a {
}

.node .field-name-field-image,
.node .field-name-field-image div,
.node .field-name-field-tags {
/*   display: inline; */
}

.field-label-hidden .field-label,
.field-label-hidden .field-items,
.field-label-hidden .field-item {
  display: inline;
}

/** button & read more **/
span.button {
  display: inline-block;
  height: 24px;
  margin-right: 5px;
}

span.button .form-submit {
  cursor:pointer;
  display: block;
  margin: 0 !important;
  padding: 0 10px;
/*   height: 24px; */
}

.read-more {
  display: inline;
  position: absolute;
  right: 0;
  bottom: 0;
/*   height: 24px; */
}

.read-more a {
  display: block;
  font-size: 80%;
/*   height: 16px; */
  padding: 3px 10px 3px 20px;
  background: url("../images/bg_readmore.png") no-repeat 7px 8px; 
}

.read-more a:hover {
  text-decoration: none;
}

ul.links li.node-readmore {
  display: none;
}

/** admin tabs **/

ul.tabs {
	border-bottom: 0px;
}

ul.tabs li a {
	padding-left: 2em;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-top: 1em;
	border-width: 0px;
	height: auto;
	margin-right: 0.75em;
}


/** button & read more **/
span.button, .read-more {
}

span.button input.form-submit, .read-more a {
	background-color: #0f4862;  
 }

span.button input.form-submit:hover, .read-more a:hover {
}

/* Tables */

table {
  width: 90%;
}

.views-table caption {
	margin-bottom: 6px;
}

td, th {
  padding: 10px 14px;
  vertical-align: middle;
}

th a, th a:link, th a:visited {
  text-decoration: none;
}

th a {
  display: block;
}

th a img {
  margin: 0 0 0 5px;
}

/* specific block styles */

.block a:link, .block a:visited,
.navigation a:link, .navigation a:visited   {
}

#block-block-2 .block-inner {
  padding-left: 35px;
}

.block-poll .links {
	padding-left: 10px;
}


/* Follow us */

.social-media-block {
}

.social-media-block img {
}

/* specific Views styles */

.member-content-index-date,
.member-content-index-type {
}

/* specific Field styles */

.field-name-field-subtitle {
}

.field-name-field-lede {
}

fieldset {
	margin: 1em 0;
	padding: 1em;
	-moz-box-shadow: 5px 5px 12px #111111;
	-webkit-box-shadow: 5px 5px 12px #111111;
	box-shadow: 5px 5px 12px #111111;
	border-radius: 4px;
}

.group-more-info .fieldset-legend {
	padding-top: 45px;
}

/* --------------- User Profile ---------------- */

.profile-user-fullname {
	font-size: 150%;
}

.field-name-field-profile-first-name,
.field-name-field-profile-last-name {
	display: inline;
		font-size: 150%;

}

.field-name-field-profile-first-name {
	margin-right: 10px;
}


.profile .user-picture {
	margin-top: 50px;
	float: left;
}