/* This file will hold the main styles for your website. */

a:link, a:visited {
	color: #a9c9ff; /* night */
}

.nash-sky-day a:link, .nash-sky-day a:visited {
  text-decoration: none;
}

.nash-sky-day a:link, .nash-sky-day a:visited {
  color: #ff9933; /* daytime */
}

a:hover {
  color: #233e60;
  text-decoration: none;
}

.nash-sky-day a:hover {
  color: #315ca8;
  text-decoration: none;
}

a:active {
  color: #202124;
  text-decoration: none;
}

.nash-sky-day hr {
  background: #5294c1;
}

hr {
  background: #cc9966;
}


h1, h2, h3, h4, h5, h6 {
}

h1.site-name, h2.site-name {
	color:black
}

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited {
  text-shadow: 2px 2px 2px #333333;
}

.nash-sky-day .site-name a:link, .nash-sky-day .site-name a:visited {
color: white;
}

blockquote {
	background-color: #133245;
}

.nash-sky-day blockquote {
	background-color: #e6e9ee;
}

/*   block quotes   */

blockquote:before, blockquote:after {
	color: #69c;
}

#region-page-top,
#region_page-bottom {
	background-color: black;
}

#page {
	background-color: #070c11; /* night */
 	background-image: url(../images/bg-header-night.jpg); /* night */
	color: #c1c1c1;
}

#page {
	background-color: #070c11; /* night */
/*  	background-image: url(../images/bg-header-night-full-moon.jpg); /* night */ */
	color: #c1c1c1;
}

.nash-sky-day #page {
	background-color: #070c11; /* night */
	background-image: url(../images/bg-header-day.jpg); /* daytime */
	color: #6d6d6d;
}

.nash-sky-day .zone-preface,
.nash-sky-day .region-sidebar-first {
	color: #cccccc;
}


#section-header {
	border-bottom: black solid 8px;
}

.nash-sky-day #section-header {
/* 	background-color: #030303; */
}

#zone-preface-wrapper {
	background-color: #070c10;
/* 	border-bottom: black solid 2px; */
	-moz-box-shadow: 3px 3px 15px #111111;
	-webkit-box-shadow: 3px 3px 15px #111111;
	box-shadow: 3px 3px 15px #111111;
}

.nash-sky-day #zone-preface-wrapper {
	background-color: #133245;
/* 	border-bottom: black solid 2px; */
	-moz-box-shadow: 3px 3px 15px #111111;
	-webkit-box-shadow: 3px 3px 15px #111111;
	box-shadow: 3px 3px 15px #111111;

}

.region-preface-first, .region-preface-second, .region-preface-third {
	background-repeat: no-repeat;
	background-color: #0b2230; /* night */
	background-image: url("../images/bg-preface3.jpg");
	-moz-box-shadow: 5px 5px 8px #111111;
	-webkit-box-shadow: 5px 5px 8px #111111;
	box-shadow: 5px 5px 8px #111111;
	border-radius: 4px;
}

#section-content {
	background-color: #0b2230;
/*  	background-image: url(../images/bg-header-night.jpg); /* night */ 
	z-index: 0;
}

.region-content-inner .block-poll {
	background-repeat: no-repeat;
	background-color: #0b2230; /* night */
	background-image: url("../images/bg-preface1.jpg");
	-moz-box-shadow: 5px 5px 8px #111111;
	-webkit-box-shadow: 5px 5px 8px #111111;
	box-shadow: 5px 5px 8px #111111;
	border-radius: 6px;
}

.nash-sky-day .region-content-inner .block-poll {
	color: #cccccc;
}


.nash-sky-day #section-content {
	background-color: white;
/*  	background-image: url(../images/bg-header-night.jpg); /* night */ 
	z-index: 0;
}

#region-sidebar-first {
	background-repeat: no-repeat;
	background-color: #0b2230; /* night */
	background-image: url("../images/bg-sidebar2.jpg");
	-moz-box-shadow: 5px 5px 8px #111111;
	-webkit-box-shadow: 5px 5px 8px #111111;
	box-shadow: 5px 5px 8px #111111;
	border-radius: 6px;

}

#zone-postscript-wrapper {
	background-color: #070c10;
	border-top: black solid 20px;
	padding-top: 12px;
}

#section-footer{
	background-color: black;
}

.block-region {
  color: black;
}

/* Navigation */

.admin-toolbar-menu a:link, .admin-toolbar-menu a:visited,
.nash-sky-day .content .profile a:link, .nash-sky-day .content .profile a:visited {
  text-decoration: none;
  text-shadow: 0px 0px;
}

.breadcrumb a:link, .breadcrumb a:visited {
  text-decoration: none;
  text-shadow: 0px 0px;
}

table a:link, table a:visited {
  text-decoration: none;
  text-shadow: 0px 0px;
}


#zone-menu-wrapper {
/*   background-color: #081018; */
  background-color: #0d1622;
}

#navigation {
	background-color: #c6c6c6;
}

ul#main-menu {
/*  	background-color: #081018;  */
}

ul#main-menu li a {
	border-right-color: #10242b;
}

ul#secondary-menu {
/*  	background-color: #081018;  */
}

ul#secondary-menu li a {
	color: #fff;
/* 	border-right: 1px solid #fff; */
}

.nash-sky-day ul#secondary-menu a:hover {
	color: #ff9933; /* daytime */
}

ul#secondary-menu a:hover {
	color: #a9c9ff;
}

ul.inline, ul.links.inline {
}

#main-menu li a.active,
.block-menu-member-content-menu li a.active  {
  color: #4a4e57;
}

.block-menu-member-content-menu li a.visited  {
	color: #a9c9ff; /* night */
}


/** node **/

.nash-sky-day .node .meta a:link, .nash-sky-day .node .meta a:visited,
.nash-sky-day .node .content a:link, .nash-sky-day .content .meta a:visited {
  text-decoration: none;
  text-shadow: 0px 0px 0px #333333;

}

.node {
	background-color: #375267;
	border-radius: 8px 20px 20px 8px;
}

.nash-sky-day .node {
	background-color: transparent;
}

.node-inner {
}

.node-teaser {
}

.node-teaser h2 {
}

.node-teaser.node-first {
}

.node-sticky.node-teaser {
	background-color: #375267;
	border-top: 3px solid #1c3345;
	-moz-box-shadow: 5px 5px 8px #111111;
	-webkit-box-shadow: 5px 5px 8px #111111;
	box-shadow: 5px 5px 8px #111111;
	border-radius: 8px 20px 20px 8px;
}

.nash-sky-day .node-sticky.node-teaser {
	background-color: transparent;
}

.nash-sky-day .node-sticky {
	border-top: 3px solid #fae5c5;
}

.node-sticky .node-inner {
}

.nash-sky-day .meta {
/*   color: #8d663a; */
}

.meta {
}

.extra-links {
}

.extra-links ul.links {
}

.extra-links a {
  color: #2E2F2D;
}

.node .field-name-field-image img {
  background: #eeeeee;
  border: 1px solid #dddddd;
}

/** admin tabs **/

ul.tabs {
}

ul.tabs li a {
	background-color: #1e242e;
	background-image: url("../images/bg-sidebar.jpg");
	-moz-box-shadow: 4px 4px 12px #111111;
	-webkit-box-shadow: 4px 4px 12px #111111;
	box-shadow: 4px 4px 12px #111111;
	border-radius: 5px;

}

ul.secondary {
  border-bottom: 0px;
  border-right: 0px;
  padding: 0.5em 2em;
  margin: 5px;
  margin-top: 30px;
}

ul.secondary li {
  border-right: 0px;
  display: inline;
  padding: 0 1em;
}

.profile h3 {
	border-bottom: 0px solid #CCC;
	-moz-box-shadow: 4px 4px 12px #111111;
	-webkit-box-shadow: 4px 4px 12px #111111;
	box-shadow: 4px 4px 12px #111111;
}

ul.tabs li a:link,
ul.tabs li a:visited {
	background-color: #1e242e;
}

ul.tabs li.active a {
	color:#4a4e57;
	background-color: #1e242e;
	border: 0px;
}

/** button & read more **/
span.button {
}

span.button .form-submit {
  color: #fff;
}

.read-more {
}

.read-more a {
  color: #fff;
  background: url("../images/bg_readmore.png") no-repeat 7px 8px;
}

.read-more a:hover {
}

ul.links li.node-readmore {
 }

/** button & read more colors**/
span.button, .read-more {
  border: 1px solid #305c8b;
}

.nash-sky-day span.button, .nash-sky-day .read-more {
  border: 1px solid #C07C54;
}

span.button input.form-submit, .read-more a {
  border: 1px solid #2099d4;
  background-color: #0f4862;  
}

span.button input.form-submit:hover, .read-more a:hover {
  color: #0f4862;
  border: 1px solid #27b8ff;
  background-color: #dcffff; 
}

/* Tables */

table {
	border: 0px;
  	-moz-box-shadow: 4px 4px 8px #111111;
	-webkit-box-shadow: 4px 4px 8px #111111;
	box-shadow: 4px 4px 8px #111111;
}

thead {
  -moz-box-shadow: 4px 4px 6px #111111;
  -webkit-box-shadow: 4px 4px 6px #111111;
  box-shadow: 4px 4px 6px #111111;
}

thead th, th {
  background: black;
  border-bottom: 1px solid #ccc;
  color: inherit;
}

.nash-sky-day thead th, .nash-sky-day th {
  background: #133245;
  border-bottom: 1px solid #ccc;
  color: #cccccc;
}

th.active {
  background: #DDD;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

/* Odd & Even Styles */
tr.even td {
/*   background: #697f96; */
  background: #526389;
  color:white
}

tr.odd td {
/*   background: #526389; */
  background: #697f96;
}

.nash-sky-day tr.odd td {
  background: #dfdfdf;
}


td.active {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

tr.even td.active {
  background: #1f3b4b;
}

tr.odd td.active {
  background: #f2f2f2;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
/*   background: #FFFEEE; */
background-color: #999999;
}

td ul.links {
  margin-bottom: 0;
}
